@font-face {
  font-family: 'Averia Gruesa Libre';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Averia/Averia-Gruesa.eot);
  src: local('Averia Gruesa Libre'), url(/fonts/Averia/Averia-Gruesa.ttf);
}

@font-face {
  font-family: 'Averia Light Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Light Libre'), url(/fonts/Averia/Averia-Light.ttf);
}

@font-face {
  font-family: 'Averia Regular Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Regular Libre'), url(/fonts/Averia/Averia-Regular.ttf);
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.ie7-inline-block {
  *display: inline;
  *zoom: 1;
}

.nowrap {
  white-space: nowrap;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
      filter: alpha(opacity=65);
}

/** .box_with_img(@margin_left: 60px, @padding: 9px 12px, @left: 5px){
  .relative;

  .box{
    padding: @padding;
    margin-left: @margin_left;
    margin: 0;

    >a >img{
      .absolute;
      left: @left;
      width: @margin_left - 10;
      border: none;
      .border-radius(4px);
    }
  }

}**/

.before-after {
  display: inline-block;
  content: '';
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.help {
  display: inline-block;
  *display: inline;
  padding-left: 5px;
  vertical-align: middle;
  *zoom: 1;
}

.help.block {
  display: block;
  padding-top: 5px;
}

.logo {
  display: block;
  float: left;
  padding-top: 10px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}

.w60 {
  width: 60px;
}

.w80 {
  width: 80px;
}

.w100 {
  width: 100px;
}

.w120 {
  width: 120px;
}

.gray-dark {
  color: #333333;
}

.gray {
  color: #555555;
}

.gray-light {
  color: #999999;
}

.disabled,
.disabled a,
.disabled a:hover,
.nav > li.disabled > a:hover,
.nav > li.disabled > a {
  color: #999999;
  cursor: default;
}

* {
  padding: 0;
  margin: 0;
}

body,
label,
input,
textarea,
select,
button {
  font-family: "Averia Gruesa Libre", "微软雅黑", "Microsoft Yahei", Helmet, Freesans, sans-serif;
}

body {
  font-size: 13px;
  color: #333333;
  background-color: #f1f1f1;
}

p {
  line-height: 20px;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover,
a:active {
  outline: 0;
}

img {
  border: none;
}

hr {
  *width: 100%;
  height: 0;
  margin: 5px 0;
  *margin: -5px 0 5px;
  overflow: hidden;
  border: none;
  border-top: 1px solid #e5e5e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  color: #555555;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11px;
}

.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

.navbar.top,
.navbar.left {
  top: 0;
  left: 0;
}

.navbar.bottom,
.navbar.right {
  right: 0;
  bottom: 0;
}

.navbar.fixed-width > .inner > .container {
  width: 1200px;
}

.navbar > .inner {
  min-height: 40px;
  padding: 0 14px;
  background-color: #252525;
}

.navbar > .inner > .container {
  margin: 0 auto;
}

.navbar .nav.pull-right {
  float: right;
  margin-right: 0;
  margin-left: 12px;
}

.navbar .nav .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover,
.navbar .nav > li > a:hover {
  color: #ffffff;
}

.navbar .nav > li.active > a .caret,
.navbar .nav > li.active > a:hover .caret,
.navbar .nav > li > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar .nav {
  float: left;
  margin-right: 12px;
}

.navbar .nav > li > a {
  padding: 10px 12px;
  font-weight: bold;
  color: #999999;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover {
  -webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
}

.nav .caret {
  border-top-color: #4183c4;
  border-bottom-color: #4183c4;
}

.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li > a:hover {
  color: #333333;
}

.nav > li.active > a .caret,
.nav > li.active > a:hover .caret,
.nav > li > a:hover .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}

.nav {
  *zoom: 1;
}

.nav:before,
.nav:after {
  display: table;
  content: "";
}

.nav:after {
  clear: both;
}

.nav > li {
  float: left;
}

.nav > li.active > a,
.nav > li.active > a:hover {
  font-weight: bold;
}

.nav > li > a {
  display: block;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  color: #4183c4;
}

.nav > li > a:hover {
  text-decoration: none;
}

.nav.stretched {
  overflow: hidden;
}

.nav.stretched > li > a {
  padding: 5px 10px;
  color: #555555;
}

.nav.stretched > li > a strong {
  display: block;
}

.nav.pills.small > li > a {
  padding: 3px 8px;
  font-size: 11px;
  line-height: 18px;
}

.nav.pills > li.active > a,
.nav.pills > li.active > a:hover {
  color: #ffffff;
  background-color: #506dab;
}

.nav.pills > li > a {
  margin: 0 5px 5px 0;
  background-color: #f5f5f5;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.nav.pills > li > a:hover {
  background-color: #b7c3dd;
}

.nav.stacked > li > a:hover,
.nav.tabs > li > a:hover {
  background-color: #f5f5f5;
}

.nav.stacked > li.active > a,
.nav.tabs > li.active > a,
.nav.stacked > li.active > a:hover,
.nav.tabs > li.active > a:hover {
  background-color: #ffffff;
}

.nav.tabs {
  padding: 0 5px;
}

.nav.tabs > li {
  margin-bottom: -1px;
}

.nav.stacked,
.nav.list {
  margin-bottom: 10px;
}

.nav.stacked > li,
.nav.list > li {
  float: none;
}

.menu-outer {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 990;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.menu.lt {
  left: 0;
}

.menu.rt {
  right: 0;
}

.menu > li.divider {
  *width: 100%;
  height: 0;
  margin: 5px 0;
  *margin: -5px 0 5px;
  overflow: hidden;
  border: none;
  border-top: 1px solid #e5e5e5;
}

.menu > li > a {
  display: block;
  padding: 5px 16px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #555555;
  white-space: nowrap;
}

.menu > li > a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}

.btn {
  display: inline-block;
  *display: inline;
  min-height: 20px;
  padding: 4px 8px;
  overflow: hidden;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -ms-linear-gradient(top, #f5f6f7 0%, #dddddd 100%);
  background-image: -moz-linear-gradient(top, #f5f6f7 0%, #dddddd 100%);
  background-image: -o-linear-gradient(top, #f5f6f7 0%, #dddddd 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f6f7), color-stop(1, #dddddd));
  background-image: -webkit-linear-gradient(top, #f5f6f7 0%, #dddddd 100%);
  background-image: linear-gradient(top, #f5f6f7 0%, #dddddd 100%);
  border: 1px solid #999;
  border-bottom: 1px solid #888;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f6f7, endColorstr=#dddddd);
  *zoom: 1;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled {
  text-decoration: none;
  background: #FBFBFB;
  background-image: -ms-linear-gradient(top, #f5f6f7 0%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(top, #f5f6f7 0%, #e6e6e6 100%);
  background-image: -o-linear-gradient(top, #f5f6f7 0%, #e6e6e6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f6f7), color-stop(1, #e6e6e6));
  background-image: -webkit-linear-gradient(top, #f5f6f7 0%, #e6e6e6 100%);
  background-image: linear-gradient(top, #f5f6f7 0%, #e6e6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f6f7, endColorstr=#e6e6e6);
}

.btn.disabled {
  cursor: default;
  background-color: #999;
  background-image: none;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
      filter: alpha(opacity=65);
}

.btn.green {
  color: #ffffff;
  text-shadow: 0 1px 0 #51823b;
  background-color: #67a54b;
  background-image: -ms-linear-gradient(top, #6eaf50 0%, #67a54b 100%);
  background-image: -moz-linear-gradient(top, #6eaf50 0%, #67a54b 100%);
  background-image: -o-linear-gradient(top, #6eaf50 0%, #67a54b 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6eaf50), color-stop(1, #67a54b));
  background-image: -webkit-linear-gradient(top, #6eaf50 0%, #67a54b 100%);
  background-image: linear-gradient(top, #6eaf50 0%, #67a54b 100%);
  border: 1px solid #51823b;
  border-bottom: 1px solid #467033;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6eaf50, endColorstr=#67a54b);
  -webkit-box-shadow: 0 2px 0 rgba(103, 165, 75, 0.4);
     -moz-box-shadow: 0 2px 0 rgba(103, 165, 75, 0.4);
          box-shadow: 0 2px 0 rgba(103, 165, 75, 0.4);
}

.btn.green:hover,
.btn.green:active,
.btn.green.active,
.btn.green.disabled {
  text-decoration: none;
  background-color: #609a46;
  background-image: -ms-linear-gradient(top, #67a54b 0%, #609a46 100%);
  background-image: -moz-linear-gradient(top, #67a54b 0%, #609a46 100%);
  background-image: -o-linear-gradient(top, #67a54b 0%, #609a46 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #67a54b), color-stop(1, #609a46));
  background-image: -webkit-linear-gradient(top, #67a54b 0%, #609a46 100%);
  background-image: linear-gradient(top, #67a54b 0%, #609a46 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#67a54b, endColorstr=#609a46);
}

.btn.green.disabled {
  cursor: default;
  background-color: #51823b;
  background-image: none;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
      filter: alpha(opacity=65);
}

.btn.green .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn.blue {
  color: #ffffff;
  text-shadow: 0 1px 0 #405788;
  background-color: #506dab;
  background-image: -ms-linear-gradient(top, #5975b1 0%, #506dab 100%);
  background-image: -moz-linear-gradient(top, #5975b1 0%, #506dab 100%);
  background-image: -o-linear-gradient(top, #5975b1 0%, #506dab 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5975b1), color-stop(1, #506dab));
  background-image: -webkit-linear-gradient(top, #5975b1 0%, #506dab 100%);
  background-image: linear-gradient(top, #5975b1 0%, #506dab 100%);
  border: 1px solid #405788;
  border-bottom: 1px solid #384c77;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5975b1, endColorstr=#506dab);
  -webkit-box-shadow: 0 2px 0 rgba(80, 109, 171, 0.4);
     -moz-box-shadow: 0 2px 0 rgba(80, 109, 171, 0.4);
          box-shadow: 0 2px 0 rgba(80, 109, 171, 0.4);
}

.btn.blue:hover,
.btn.blue:active,
.btn.blue.active,
.btn.blue.disabled {
  text-decoration: none;
  background-color: #4b66a1;
  background-image: -ms-linear-gradient(top, #506dab 0%, #4b66a1 100%);
  background-image: -moz-linear-gradient(top, #506dab 0%, #4b66a1 100%);
  background-image: -o-linear-gradient(top, #506dab 0%, #4b66a1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #506dab), color-stop(1, #4b66a1));
  background-image: -webkit-linear-gradient(top, #506dab 0%, #4b66a1 100%);
  background-image: linear-gradient(top, #506dab 0%, #4b66a1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#506dab, endColorstr=#4b66a1);
}

.btn.blue.disabled {
  cursor: default;
  background-color: #405788;
  background-image: none;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
      filter: alpha(opacity=65);
}

.btn.blue .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn.red {
  color: #ffffff;
  text-shadow: 0 1px 0 #721c15;
  background-color: #9d261d;
  background-image: -ms-linear-gradient(top, #aa291f 0%, #9d261d 100%);
  background-image: -moz-linear-gradient(top, #aa291f 0%, #9d261d 100%);
  background-image: -o-linear-gradient(top, #aa291f 0%, #9d261d 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aa291f), color-stop(1, #9d261d));
  background-image: -webkit-linear-gradient(top, #aa291f 0%, #9d261d 100%);
  background-image: linear-gradient(top, #aa291f 0%, #9d261d 100%);
  border: 1px solid #721c15;
  border-bottom: 1px solid #5c1611;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa291f, endColorstr=#9d261d);
  -webkit-box-shadow: 0 2px 0 rgba(157, 38, 29, 0.4);
     -moz-box-shadow: 0 2px 0 rgba(157, 38, 29, 0.4);
          box-shadow: 0 2px 0 rgba(157, 38, 29, 0.4);
}

.btn.red:hover,
.btn.red:active,
.btn.red.active,
.btn.red.disabled {
  text-decoration: none;
  background-color: #90231b;
  background-image: -ms-linear-gradient(top, #9d261d 0%, #90231b 100%);
  background-image: -moz-linear-gradient(top, #9d261d 0%, #90231b 100%);
  background-image: -o-linear-gradient(top, #9d261d 0%, #90231b 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9d261d), color-stop(1, #90231b));
  background-image: -webkit-linear-gradient(top, #9d261d 0%, #90231b 100%);
  background-image: linear-gradient(top, #9d261d 0%, #90231b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9d261d, endColorstr=#90231b);
}

.btn.red.disabled {
  cursor: default;
  background-color: #721c15;
  background-image: none;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
      filter: alpha(opacity=65);
}

.btn.red .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn.pink {
  color: #ffffff;
  text-shadow: 0 1px 0 #9a284b;
  background-color: #c3325f;
  background-image: -ms-linear-gradient(top, #cc3866 0%, #c3325f 100%);
  background-image: -moz-linear-gradient(top, #cc3866 0%, #c3325f 100%);
  background-image: -o-linear-gradient(top, #cc3866 0%, #c3325f 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cc3866), color-stop(1, #c3325f));
  background-image: -webkit-linear-gradient(top, #cc3866 0%, #c3325f 100%);
  background-image: linear-gradient(top, #cc3866 0%, #c3325f 100%);
  border: 1px solid #9a284b;
  border-bottom: 1px solid #862241;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3866, endColorstr=#c3325f);
  -webkit-box-shadow: 0 2px 0 rgba(195, 50, 95, 0.4);
     -moz-box-shadow: 0 2px 0 rgba(195, 50, 95, 0.4);
          box-shadow: 0 2px 0 rgba(195, 50, 95, 0.4);
}

.btn.pink:hover,
.btn.pink:active,
.btn.pink.active,
.btn.pink.disabled {
  text-decoration: none;
  background-color: #b72f59;
  background-image: -ms-linear-gradient(top, #c3325f 0%, #b72f59 100%);
  background-image: -moz-linear-gradient(top, #c3325f 0%, #b72f59 100%);
  background-image: -o-linear-gradient(top, #c3325f 0%, #b72f59 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c3325f), color-stop(1, #b72f59));
  background-image: -webkit-linear-gradient(top, #c3325f 0%, #b72f59 100%);
  background-image: linear-gradient(top, #c3325f 0%, #b72f59 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c3325f, endColorstr=#b72f59);
}

.btn.pink.disabled {
  cursor: default;
  background-color: #9a284b;
  background-image: none;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
      filter: alpha(opacity=65);
}

.btn.pink .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn.orange {
  color: #ffffff;
  text-shadow: 0 1px 0 #c67605;
  background-color: #f89406;
  background-image: -ms-linear-gradient(top, #f99b14 0%, #f89406 100%);
  background-image: -moz-linear-gradient(top, #f99b14 0%, #f89406 100%);
  background-image: -o-linear-gradient(top, #f99b14 0%, #f89406 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f99b14), color-stop(1, #f89406));
  background-image: -webkit-linear-gradient(top, #f99b14 0%, #f89406 100%);
  background-image: linear-gradient(top, #f99b14 0%, #f89406 100%);
  border: 1px solid #c67605;
  border-bottom: 1px solid #ad6704;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f99b14, endColorstr=#f89406);
  -webkit-box-shadow: 0 2px 0 rgba(248, 148, 6, 0.4);
     -moz-box-shadow: 0 2px 0 rgba(248, 148, 6, 0.4);
          box-shadow: 0 2px 0 rgba(248, 148, 6, 0.4);
}

.btn.orange:hover,
.btn.orange:active,
.btn.orange.active,
.btn.orange.disabled {
  text-decoration: none;
  background-color: #e98b06;
  background-image: -ms-linear-gradient(top, #f89406 0%, #e98b06 100%);
  background-image: -moz-linear-gradient(top, #f89406 0%, #e98b06 100%);
  background-image: -o-linear-gradient(top, #f89406 0%, #e98b06 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f89406), color-stop(1, #e98b06));
  background-image: -webkit-linear-gradient(top, #f89406 0%, #e98b06 100%);
  background-image: linear-gradient(top, #f89406 0%, #e98b06 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f89406, endColorstr=#e98b06);
}

.btn.orange.disabled {
  cursor: default;
  background-color: #c67605;
  background-image: none;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
      filter: alpha(opacity=65);
}

.btn.orange .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn.purple {
  color: #ffffff;
  text-shadow: 0 1px 0 #613591;
  background-color: #7a43b6;
  background-image: -ms-linear-gradient(top, #824bbd 0%, #7a43b6 100%);
  background-image: -moz-linear-gradient(top, #824bbd 0%, #7a43b6 100%);
  background-image: -o-linear-gradient(top, #824bbd 0%, #7a43b6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #824bbd), color-stop(1, #7a43b6));
  background-image: -webkit-linear-gradient(top, #824bbd 0%, #7a43b6 100%);
  background-image: linear-gradient(top, #824bbd 0%, #7a43b6 100%);
  border: 1px solid #613591;
  border-bottom: 1px solid #552e7e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#824bbd, endColorstr=#7a43b6);
  -webkit-box-shadow: 0 2px 0 rgba(122, 67, 182, 0.4);
     -moz-box-shadow: 0 2px 0 rgba(122, 67, 182, 0.4);
          box-shadow: 0 2px 0 rgba(122, 67, 182, 0.4);
}

.btn.purple:hover,
.btn.purple:active,
.btn.purple.active,
.btn.purple.disabled {
  text-decoration: none;
  background-color: #733fab;
  background-image: -ms-linear-gradient(top, #7a43b6 0%, #733fab 100%);
  background-image: -moz-linear-gradient(top, #7a43b6 0%, #733fab 100%);
  background-image: -o-linear-gradient(top, #7a43b6 0%, #733fab 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7a43b6), color-stop(1, #733fab));
  background-image: -webkit-linear-gradient(top, #7a43b6 0%, #733fab 100%);
  background-image: linear-gradient(top, #7a43b6 0%, #733fab 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7a43b6, endColorstr=#733fab);
}

.btn.purple.disabled {
  cursor: default;
  background-color: #613591;
  background-image: none;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
      filter: alpha(opacity=65);
}

.btn.purple .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn.yellow {
  color: #ffffff;
  text-shadow: 0 1px 0 #d9a400;
  background-color: #ffc40d;
  background-image: -ms-linear-gradient(top, #ffc81c 0%, #ffc40d 100%);
  background-image: -moz-linear-gradient(top, #ffc81c 0%, #ffc40d 100%);
  background-image: -o-linear-gradient(top, #ffc81c 0%, #ffc40d 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffc81c), color-stop(1, #ffc40d));
  background-image: -webkit-linear-gradient(top, #ffc81c 0%, #ffc40d 100%);
  background-image: linear-gradient(top, #ffc81c 0%, #ffc40d 100%);
  border: 1px solid #d9a400;
  border-bottom: 1px solid #c09100;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc81c, endColorstr=#ffc40d);
  -webkit-box-shadow: 0 2px 0 rgba(255, 196, 13, 0.4);
     -moz-box-shadow: 0 2px 0 rgba(255, 196, 13, 0.4);
          box-shadow: 0 2px 0 rgba(255, 196, 13, 0.4);
}

.btn.yellow:hover,
.btn.yellow:active,
.btn.yellow.active,
.btn.yellow.disabled {
  text-decoration: none;
  background-color: #fdbf00;
  background-image: -ms-linear-gradient(top, #ffc40d 0%, #fdbf00 100%);
  background-image: -moz-linear-gradient(top, #ffc40d 0%, #fdbf00 100%);
  background-image: -o-linear-gradient(top, #ffc40d 0%, #fdbf00 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffc40d), color-stop(1, #fdbf00));
  background-image: -webkit-linear-gradient(top, #ffc40d 0%, #fdbf00 100%);
  background-image: linear-gradient(top, #ffc40d 0%, #fdbf00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc40d, endColorstr=#fdbf00);
}

.btn.yellow.disabled {
  cursor: default;
  background-color: #d9a400;
  background-image: none;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
      filter: alpha(opacity=65);
}

.btn.yellow .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-group {
  display: inline-block;
  *display: inline;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}

.btn-group > .btn {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-group .btn:first-child {
  -webkit-border-radius: 2px 0 0 2px;
     -moz-border-radius: 2px 0 0 2px;
          border-radius: 2px 0 0 2px;
}

.btn-group .btn:last-child,
.btn-group .btn.last {
  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;
}

.btn-group + .btn-group {
  margin-left: 5px;
}

.page {
  margin: 0 auto;
  text-align: center;
  *zoom: 1;
}

.page:before,
.page:after {
  display: table;
  content: "";
}

.page:after {
  clear: both;
}

.page > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.page > li.prev {
  float: left;
}

.page > li.next {
  float: right;
}

.page > li:first-child > a {
  -webkit-border-radius: 2px 0 0 2px;
     -moz-border-radius: 2px 0 0 2px;
          border-radius: 2px 0 0 2px;
}

.page > li:last-child > a {
  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;
}

.page > li > a {
  display: inline-block;
  *display: inline;
  padding: 5px 10px;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  *zoom: 1;
}

.page > li > a:hover {
  text-decoration: none;
}

.mark {
  display: inline-block;
  *display: inline;
  padding: 2px 4px;
  font-size: 11px;
  font-weight: bold;
  line-height: 15px;
  color: #ffffff;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  *zoom: 1;
}

.mark.blue {
  background-color: #506dab;
}

.mark.green {
  background-color: #67a54b;
}

.mark.red {
  background-color: #9d261d;
}

.mark.yellow {
  background-color: #ffc40d;
}

.mark.orange {
  background-color: #f89406;
}

.thumbnail {
  display: block;
  float: left;
  padding: 6px;
  margin-right: 5px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.thumbnail img {
  display: block;
  vertical-align: middle;
  border: none;
}

.thumbnails {
  margin-bottom: 10px;
  *zoom: 1;
}

.thumbnails:before,
.thumbnails:after {
  display: table;
  content: "";
}

.thumbnails:after {
  clear: both;
}

.alert {
  position: relative;
  padding: 10px;
  margin-bottom: 12px;
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert.error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert.success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

input,
button,
select,
textarea {
  outline: none;
  resize: none;
}

.navbar input.search {
  padding: 7px;
  margin-top: 5px;
  color: #444444;
  background-color: #cccccc;
  border: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.navbar input.search:focus {
  background-color: #ffffff;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

input,
textarea {
  padding: 8px;
  margin: 1px;
  color: #999999;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

input:focus,
textarea:focus {
  color: #555555;
  border-color: #4d90fe;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

textarea {
  width: 90%;
  height: 80px;
  overflow: hidden;
  vertical-align: top;
}

.radio,
.checkbox {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.radio input,
.checkbox input {
  margin-right: 5px;
  vertical-align: middle;
}

.wrapper {
  padding: 60px 14px 15px;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.container > .main {
  width: auto;
  margin-right: 360px;
}

.container > .main > .sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 340px;
}

.container.fixed-width {
  width: 1200px;
}

.form {
  font-size: 13px;
}

.form .fr {
  margin: 12px 0;
}

.form .fr .label {
  float: left;
  width: 100px;
  padding-top: 8px;
  color: #555555;
  text-align: right;
}

.form .fr .fd {
  margin-left: 110px;
}

.form .form-actions {
  padding-left: 110px;
}

.items .item .form .fr,
.module .body .form .fr,
.module .inner .form .fr {
  margin-top: 0;
}

.form.small .form-actions {
  padding-left: 30px;
}

.form.small .fr {
  position: relative;
}

.form.small .fr .label {
  position: absolute;
  top: 2px;
  left: 40px;
  width: auto;
}

.form.small .fr .fd {
  margin-left: 30px;
}

.form-actions {
  padding: 12px 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #cccccc;
}

.form-actions a {
  margin-left: 8px;
}

.item .form {
  margin-left: 60px;
}

.item .form .fr .label {
  margin-top: 0;
}

.item .form .fr .fd {
  margin-bottom: 0;
}

.arrow-tip,
.arrow-popup {
  z-index: 200;
}

.arrow-popup.left:before {
  position: absolute;
  right: -11px;
  bottom: 50%;
  display: inline-block;
  margin-bottom: -11px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #cccccc;
  content: '';
}

.arrow-popup.left:after {
  position: absolute;
  right: -10px;
  bottom: 50%;
  display: inline-block;
  margin-bottom: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ffffff;
  content: '';
}

.arrow-popup.right:before {
  position: absolute;
  bottom: 50%;
  left: -11px;
  display: inline-block;
  margin-bottom: -11px;
  border-top: 11px solid transparent;
  border-right: 11px solid #cccccc;
  border-bottom: 11px solid transparent;
  content: '';
}

.arrow-popup.right:after {
  position: absolute;
  bottom: 50%;
  left: -10px;
  display: inline-block;
  margin-bottom: -10px;
  border-top: 10px solid transparent;
  border-right: 10px solid #ffffff;
  border-bottom: 10px solid transparent;
  content: '';
}

.arrow-popup.top:before {
  position: absolute;
  bottom: -11px;
  left: 50%;
  display: inline-block;
  margin-left: -11px;
  border-top: 11px solid #cccccc;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  content: '';
}

.arrow-popup.top:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  display: inline-block;
  margin-left: -10px;
  border-top: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  content: '';
}

.arrow-popup.bottom:before {
  position: absolute;
  top: -11px;
  left: 50%;
  display: inline-block;
  margin-left: -11px;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #cccccc;
  border-left: 11px solid transparent;
  content: '';
}

.arrow-popup.bottom:after {
  position: absolute;
  top: -10px;
  left: 50%;
  display: inline-block;
  margin-left: -10px;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid transparent;
  content: '';
}

.arrow-tip.left:before {
  position: absolute;
  right: -6px;
  bottom: 50%;
  display: inline-block;
  margin-bottom: -6px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #333333;
  content: '';
}

.arrow-tip.right:before {
  position: absolute;
  bottom: 50%;
  left: -6px;
  display: inline-block;
  margin-bottom: -6px;
  border-top: 6px solid transparent;
  border-right: 6px solid #333333;
  border-bottom: 6px solid transparent;
  content: '';
}

.arrow-tip.top:before {
  position: absolute;
  bottom: -6px;
  left: 50%;
  display: inline-block;
  margin-left: -6px;
  border-top: 6px solid #333333;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: '';
}

.arrow-tip.bottom:before {
  position: absolute;
  top: -6px;
  left: 50%;
  display: inline-block;
  margin-left: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #333333;
  border-left: 6px solid transparent;
  content: '';
}

.tip {
  padding: 8px 12px;
  color: #ffffff;
  background-color: #333333;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.module,
.items,
.popup {
  background-color: #ffffff;
}

.module.border,
.items.border,
.popup.border {
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.nav.stacked {
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.items > .item.last,
.nav.tabs,
.nav.stacked > li > a,
.module > .header,
.popup > .header,
.items > .item {
  border-bottom: 1px solid #cccccc;
}

.nav.stretched {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.nav.stretched > li > a {
  border-left: 1px solid #cccccc;
}

.nav.stretched > li:first-child > a {
  border-left: none;
}

.nav.tabs > li.active > a,
.nav.tabs > li.active > a:hover {
  border: 1px solid #cccccc;
  border-bottom-color: transparent;
}

.nav.tabs > li > a {
  border: 1px solid transparent;
}

.nav.tabs > li > a:hover {
  border-bottom: 1px solid #cccccc;
}

.nav.stacked > li:last-child > a,
.items > .item:last-child {
  border-bottom: none;
}

.popup > .header,
.popup > .body,
.popup > .footer,
.module > .header,
.module > .body,
.module > .inner,
.module > .footer,
.module > .content,
.items > .item {
  padding: 10px 12px;
}

.popup > .header {
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  text-shadow: 0 1px 0 #ffffff;
  cursor: default;
  background-color: #F7F7F7;
}

.module {
  margin-bottom: 10px;
}

.items > .item {
  position: relative;
  *zoom: 1;
}

.items > .item:before,
.items > .item:after {
  display: table;
  content: "";
}

.items > .item:after {
  clear: both;
}

.items > .item.header,
.items > .item.footer {
  min-height: 20px;
}

.items > .item.active {
  background-color: #f6f6f6;
}

.content > .header {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #999999;
}

.content > .body {
  margin-bottom: 4px;
  font-size: 13px;
  line-height: 20px;
}

.content > .footer {
  font-size: 12px;
  color: #999999;
}

.content > .footer span,
.content > .footer a {
  display: inline-block;
  *display: inline;
  margin-right: 6px;
  *zoom: 1;
}

.item > .content,
.module > .content {
  min-height: 58px;
  margin: 0;
  margin-left: 70px;
}

.item > .content > a > img,
.module > .content > a > img {
  position: absolute;
  left: 12px;
  width: 58px;
  border: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.item > .content.small,
.module > .content.small {
  min-height: 48px;
  margin-left: 60px;
}

.item > .content.small > a > img,
.module > .content.small > a > img {
  width: 48px;
}

.item > .content.big,
.module > .content.big {
  min-height: 70px;
  margin-left: 82px;
}

.item > .content.big > .header,
.module > .content.big > .header {
  font-size: 18px;
}

.item > .content.big > a > img,
.module > .content.big > a > img {
  width: 70px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "segoe ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #adadad;
  text-shadow: 0 1px 0 white;
  cursor: pointer;
}

.close:hover {
  color: #999999;
  text-decoration: none;
}

.popup .close {
  padding: 8px 12px;
}

.alert .close {
  padding: 8px 10px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: 7px;
  vertical-align: top;
  border-color: #222222;
  content: '';
}

.caret.down {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top-style: solid;
  border-top-width: 5px;
}

.caret.up {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}
