// fonts
@font-face {
  font-family: 'Averia Gruesa Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Gruesa Libre'), url(/fonts/Averia/Averia-Gruesa.ttf);
}
@font-face {
  font-family: 'Averia Light Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Light Libre'), url(/fonts/Averia/Averia-Light.ttf);
}
@font-face {
  font-family: 'Averia Regular Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Regular Libre'), url(/fonts/Averia/Averia-Regular.ttf);
}
