@font-face {
  font-family: 'Averia';
  src: local('Averia-Bold'), url('/fonts/Averia/Averia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Averia';
  src: local('Averia-BoldItalic'), url('/fonts/Averia/Averia-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Averia Gruesa';
  src: local('Averia-Gruesa'), url('/fonts/Averia/Averia-Gruesa.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Averia';
  src: local('Averia-Italic'), url('/fonts/Averia/Averia-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Averia';
  src: local('Averia-Light'), url('/fonts/Averia/Averia-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averia';
  src: local('Averia-LightItalic'), url('/fonts/Averia/Averia-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Averia';
  src: local('Averia-Regular'), url('/fonts/Averia/Averia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


